<div class="mb-2">
  <button [class.hidden]="pageNumbers.length == 1" *ngFor="let p of pageNumbers" class="btn btn-outline-primary"
          (click)="onPageChange(p)"
          [class.focus]="p == pageNumber"
          [class.active]="p == pageNumber">
    {{p}}
  </button>

  <div class="inline-block pull-right align-middle">
    <input id="pageSize" type="number" class="w-10" [value]="pageSize" (change)="onPageSizeChange($event.target.value)" />
    <label for="pageSize">Page Size</label>
  </div>

</div>
