<div *ngIf="!channels">Loading...</div>

<div class="row">
  <router-outlet></router-outlet>
</div>

<br />

<div class="row mt-2">
  <input type="text" placeholder="Enter filter"
         (input)="onFilter($event)"
         (focus)="onFilterFocus()" class="m-2" />
</div>


<div *ngIf="channels">
  <table class="table table-sm">
    <thead>
      <tr><th>Id</th><th>Name</th><th>Customer</th><th></th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let channel of channels" [class.active]="channel.channelId == visitedId">
        <td>{{channel.channelId}}</td>
        <td>{{channel.name}}</td>
        <td>{{channel | customersOfChannel}}</td>
        <td>
          <span><button class="btn btn-primary" (click)="showDetails(channel.channelId)">Detail</button></span>
          <span><button class="btn btn-primary" (click)="editChannel(channel.channelId)">Edit</button></span>
          <span><button class="btn btn-danger" (click)="onDeleteChannel(content, channel.channelId)">Delete</button></span>

        </td>
      </tr>
    </tbody>

  </table>


</div>

<div class="row">
  <app-paginator [totalPages]="paging.totalPages"
                 [pageNumber]="page"
                 [pageSize]="paging.pageSize"
                 (page)="onPage($event)"></app-paginator>
</div>

<div class="row text-center">
  <button class="btn btn-primary" (click)="createChannel()">Create New Channel</button>
</div>




